.storesList--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

.store {
  font-size: .55rem;
  display: inline-block;
  padding: .75rem;
  color: #FFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: .5;
  transition: opacity ease-in-out 0.25s;
  transition: font-size ease-in-out 0.15s;
}

.store:hover {
  font-size: .65rem;
  opacity: 1;
}
